.search{
    display: block;
    text-align: center;
    padding-top: 17px;
}
.search-form{
    display: flex;
    justify-content: center;
}
input{
    width: 450px;
    padding: 15px;
    outline: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
}
button{
    width: 50px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #535353;
    border: none;
}