.container{
    background: url("../../assets/pattern-bg.png")  no-repeat  ;
    background-size: cover;
    width: 100%;
    height: 35vh;
}
.header{
    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
}
