.map {
    width:100%;
    height: 70%;
     /*background-color: #c2d368;*/
    z-index: 1;
    position: relative;
}
.leaflet-container{
    height: 70vh;
    width: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
